body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: grid;
}

.main-content {
  padding-top: 70px; /* height of navbar */
  padding-bottom: 60px; /* space for footer */
}
